@import url('reset.css');
@import url('variables.css');

/* Componentes */
@import url('components/input.css');
@import url('components/select.css');
@import url('components/form.css');

/* Páginas */
@import url('pages/home.css');

body {
    height: 100vh;
    width: 100vw;
    background-color: var(--background-color-default);

    font-family: var(--font-family-mono);
    font-size: medium;
    line-height: var(--line-height);

    label {
        font-weight: bold;
        font-size: large;
    }
}
