@import url('../variables.css');

select {
    height: var(--height-default);
    padding: var(--padding);

    color: var(--font-color);

    cursor: pointer;
    background-color: var(--white);
    border: var(--border-default);
    border-radius: var(--border-radius);
    outline: none;
    box-shadow: var(--box-shadow-default);
    
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    transition: color 0.3s ease, background-color 0.3s ease, border-bottom-color 0.3s ease;

    /* For IE <= 11 */
    &::-ms-expand {
        display: none; 
    }
}

select:focus {
    border-color: var(--color-primary);
    outline: none;
    box-shadow: var(--box-shadow-primary);
}

select.block {
    width: 100%;
}

select:hover ~ .select-icon,
select:focus ~ .select-icon {
    background-color: var(--white);
    border-color: #DCDCDC;
}

select:hover ~ .select-icon svg.icon,
select:focus ~ .select-icon svg.icon {
    fill: var(--color-primary);
}

/* 
.select-icon {
    position: absolute;
    top: 4px;
    right: 4px;
    width: 30px;
    height: 36px;
    pointer-events: none;
    border: var(--border-primary);
    padding-left: 5px;
    transition: background-color 0.3s ease, border-color 0.3s ease;

    & svg.icon {
        transition: fill 0.3s ease;
        fill: var(--white);
    }
} */
